@keyframes fondu {
  from {
    transform: translate(0px, 10px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes rotation-engrenage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reduire-la-div {
  0% {
    transform: translateY(0);
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  85% {
    transform: translateY(0);
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  99% {
    transform: translateY(0);
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.container-header_vers-acceuil {
  display: initial;
}

.container-image-titre {
  width: 100%;
  position: relative;
}

.image-fond {
  margin-bottom: 60px;
}

.restaurant-titre {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0px;
  background-color: whitesmoke;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
}
.restaurant-titre .container-titre {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant-titre .container-titre .container-coeur {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.restaurant-titre .container-titre .container-coeur:hover {
  cursor: pointer;
}
.restaurant-titre .container-titre .container-coeur:active .coeur-plein {
  opacity: 1;
  background-color: white;
}
.restaurant-titre .container-titre .container-coeur:active .coeur-vide {
  color: transparent;
}
.restaurant-titre .container-titre .container-coeur .coeur-vide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: black;
  transition: color 150ms;
  font-size: 30px;
}
.restaurant-titre .container-titre .container-coeur .coeur-plein {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 150ms;
  font-size: 30px;
}
.restaurant-titre h1 {
  margin: 0;
  font-family: 'Shrikhand', cursive;
  font-size: 24px;
}

.menu {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-emplacement {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.container-emplacement_titre {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-emplacement_titre_texte {
  font-size: 18px;
  padding: 2px 0;
}
.container-emplacement_titre_soulignement {
  width: 40px;
  height: 3px;
  border-top: 3px solid #99e2d0;
  padding-bottom: 10px;
}
.container-emplacement_plats {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-emplacement_plats .menu1 {
  transform: translate(0px, 10px);
  opacity: 0;
  animation-name: fondu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;
}
.container-emplacement_plats .menu2 {
  transform: translate(0px, 10px);
  opacity: 0;
  animation-name: fondu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}
.container-emplacement_plats .menu3 {
  transform: translate(0px, 10px);
  opacity: 0;
  animation-name: fondu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}
.container-emplacement_plats .menu4 {
  transform: translate(0px, 10px);
  opacity: 0;
  animation-name: fondu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.container-emplacement_plats_plat {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
}
.container-emplacement_plats_plat:hover .container-elastique {
  width: 80%;
}
.container-emplacement_plats_plat:hover .selecteur {
  right: 0;
}
.container-emplacement_plats_plat:hover .selecteur i {
  transform: rotate(360deg);
}
.container-emplacement_plats_plat .container-elastique {
  width: 100%;
  /*80%*/
  height: 70px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: width 300ms;
}
.container-emplacement_plats_plat_texte {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-weight: 500;
  overflow: hidden;
}
.container-emplacement_plats_plat_texte h2 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-emplacement_plats_plat_texte p {
  margin: 0;
  font-size: 14px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-emplacement_plats_plat_prix {
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  margin-left: 5px;
}
.container-emplacement_plats_plat .selecteur {
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -70px;
  top: 0;
  transition: right 350ms;
}
.container-emplacement_plats_plat .selecteur:hover {
  cursor: pointer;
}
.container-emplacement_plats_plat .selecteur i {
  font-size: 30px;
  color: #99e2d0;
  background-color: white;
  border-radius: 15px;
  transition: transform 350ms;
}

@media screen and (min-width: 768px) {
  .container-image-titre {
    display: flex;
    justify-content: center;
  }

  .image-fond {
    width: 100%;
    max-width: 800px;
  }

  .restaurant-titre .container-titre {
    width: 40%;
  }

  .container-emplacement {
    max-width: 98%;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }
  .container-emplacement_titre {
    width: 12%;
  }
  .container-emplacement_titre_texte {
    font-size: 16px;
  }
  .container-emplacement_plats {
    flex-direction: row;
    flex-wrap: wrap;
    width: 88%;
  }
  .container-emplacement_plats_plat {
    width: 45%;
    max-width: 300px;
    margin: 5px 5px;
  }
  .container-emplacement_plats_plat_texte h2 {
    font-size: 16px;
  }
  .container-emplacement_plats_plat_texte p {
    font-size: 12px;
  }
  .container-emplacement_plats_plat_prix {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .container-emplacement {
    max-width: 1080px;
  }
}
.container-commander {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding-bottom: 45px;
}
.container-commander_bouton {
  width: 210px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  box-shadow: 0px 5px 5px #d2d2d2;
  padding: 17px 0;
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
}
.container-commander_bouton:hover::after {
  opacity: 1;
}
.container-commander_bouton::after {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  box-shadow: 0px 7px 7px #b8b8b8;
  opacity: 0;
  z-index: -1;
  transition: opacity 150ms;
}/*# sourceMappingURL=page1.css.map */