// pour le spinner
@keyframes rotation-engrenage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// pour le container du spinner: devient transparant a la fin puis disparait
@keyframes reduire-la-div {
    0%{
        transform: translateY(0);
        opacity: 1;
        width: 100%;
        height:100%
    }
    85%{
        transform: translateY(0);
        opacity: .9;
        width: 100%;
        height:100%
    }
    99%{
        transform: translateY(0);
        opacity: .1;
        width: 100%;
        height:100%
    }
    100%{
        transform: translateY(-100px);
        opacity: 0;
        width: 0;
        height: 0;
    }
}

// pour la zone de selection des plats: apparition et deplacement progressif
@keyframes fondu {
    from {
        transform: translate(0px, 10px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

// pour laisser la place à l'animation des menus
@keyframes devoiler-image {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 530px;
    }
}