$fond-gris-fonce: rgb(238,238,238);
$fond-gris-clair: rgb(248,248,248);
$couleur-primaire:#9356dc;
$couleur-secondaire:#ff79da;
$couleur-tertiaire:#99e2d0;
$font-texte: "'Roboto', sans-serif";
$font-titre: "'Shrikhand', cursive";