@import "./variables";
@import "./mixins";
@import "./animations";

.container-header_vers-acceuil {
    display: none;
}


.container-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lighten($couleur-secondaire,20);
    z-index: 10;
    animation: reduire-la-div 4s linear 0s 1 forwards;
}
.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    animation: rotation-engrenage 1s linear 0s 4;
    &_exterieur {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50px;
        background-color: $couleur-primaire;
        z-index: 20;
    }
    &_engrenage {
        width: 100px;
        height: 100px;
        z-index: 30;
        transform-origin: 50% 50%;
$nombre-de-dents:10;
        @for $i from 1 through $nombre-de-dents {
            &_dent#{$i} {
                transform: rotate(-360/$nombre-de-dents*1deg + $i*360/$nombre-de-dents*1deg);
            }
        }
    }
    &_centre {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 20px;
        top: 20px;
        border-radius: 30px;
        background-color: $couleur-secondaire;
        z-index: 50;
    }

    .dent {
        width: 10px;
        height: 50px;
        position: absolute;
        left: 45px;
        top: 0;
        background-color: $couleur-tertiaire;
        border-radius: 5px;
        z-index: 40;
        transform-origin: 50% 100%;
    }
}


.container-titre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_localisation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: $fond-gris-fonce;
        border-top: 3px solid;
        border-color: $fond-gris-plus-fonce-8;
        font-weight: 400;
        font-size: 20px;
        .localisation {
            padding: 15px 30px 15px 0;
            width: 230px;
        }
    }
    & i {
        padding-right: 10px;
    }
    &_principal {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $fond-gris-clair;
        h1 {
            padding: 0;
            margin: 0;
            width: 75%;
            font-size: 26px;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 15px;
        }
    }
    &_presentation {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $fond-gris-clair;
        p {
            margin: 0;
            padding-bottom: 20px;
            width: 90%;
            font-size: 18px;
            text-align: center;
        }
    }
    &_bouton {
        @include container-bouton;
        .explorer-bouton {
            @include bouton-principal;
        }
    }
}

.container-fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    a {
        text-decoration: none;
    }
    &_titre {
        width: 90%;
        font-size: 16px;
        font-weight: 500;
        h2 {
            margin: 0;
            padding-top: 40px;
            padding-bottom: 15px;
        }
    }
    &_3boutons {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    &_bouton {
        width: 100%;
        max-width: 400px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background-color: $fond-gris-clair;
        border-radius: 15px;
        box-shadow: 0px 5px 5px $fond-gris-fonce;
        margin: 10px 0;
        position: relative;
        z-index: 1;
        &:hover {
            i {
                color: $couleur-primaire;
            }
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 15px;
            box-shadow: 0px 7px 7px $fond-gris-plus-fonce-10;

            background-color: $couleur-secondaire-plus-clair-22;
            opacity: 0;
            z-index: -1;
            transition: opacity 150ms;
        }
    }
    &_etape {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: -10px;
        background-color: $couleur-primaire;
        color: white;
        border-radius: 15px;
    }
    &_icone {
        font-size: 22px;
        color: rgb(139, 139, 139);
        padding-left: 20px;
        padding-right: 10px;
    }
    &_texte {
        font-size: 16px;
        font-weight: 500;
        color: black;
    }
}

@media screen and(min-width:768px) {
    .container-fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_3boutons {
            width: 100%;
            padding-right: 10px;
            flex-direction: row;
            justify-content: space-around;
        }
        &_bouton {
            width: 31%;
            max-width: 400px;
        }
        &_titre {
            display: flex;
            justify-content: center;
            h2 {
                font-size: 24px;
            }
        }
        &_texte {
            padding-right: 5px;
        }
    }
}

.container-restaurant {
    width: 100%;
    background-color: $fond-gris-clair;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px 30px 20px;
    &_titre {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        max-width: 450px;
        font-size: 16px;
        font-weight: 500;
        h2 {
            margin: 0;
            padding-top: 40px;
            padding-bottom: 15px;
        }
    }
    &_4restaurants {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_carte {
        width: 100%;
        max-width: 450px;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 15px;
        h2 {
            display: none;
        }
        a {
            text-decoration: none;
        }
        &_image {
            width: 100%;
            height: 172px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .etiquette-nouveau {
            background-color: $couleur-tertiaire;
            color: $couleur-tertiaire-plus-fonce-50;
            border-radius: 2px;
            position: absolute;
            right: 12px;
            top: 12px;
            padding: 5px 12px;
            font-size: 14px;
            font-style: normal;
        }
        &_corps {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_texte {
            width: 90%;
            display: flex;
            flex-direction: column;
        }
        &_titre {
            margin: 0;
            color: black;
            font-size: 18px;
            font-weight: 600;
            padding-top: 5px;
            padding-left: 10px;
        }
        &_localisation {
            color: black;
            font-size: 16px;
            font-weight: 400;
            padding-top: 5px;
            padding-bottom: 15px;
            padding-left: 10px;
        }
        &_coeur {
@include coeur (20px);
        }
    }
}

@media screen and (min-width: 768px) {
    .container-restaurant {
        &_titre {
            max-width: initial;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 20px;
            h2 {
                font-size: 24px;
            }
        }
        &_4restaurants {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &_carte {
            max-width: 330px;
            margin: 3px;
        }
    }
    .image-carte-1 {
        object-fit: cover;
        object-position: 50% 100%;
    }
    .image-carte-2 {
        object-fit: cover;
        object-position: 50% 62%;
    }
    .image-carte-3 {
        object-fit: cover;
        object-position: 50% 100%;
    }
    .image-carte-4 {
        object-fit: cover;
        object-position: 50% 100%;
    }
}
