@import "./variables";
@import "./mixins";
@import "./animations";

// fait apparaite la fleche de retour vers index
.container-header_vers-acceuil {
    display: initial;
}

.main{
    position: relative;
}

// mise en forme de l'image de haut de page
.container-image-titre {
    width: 100%;
    height: 230px;
    position: absolute;
    // relatif a la hauteur du header; voir styles.scss
    top: 72px;
    left: 0;
    z-index: -10;
}
.image-fond {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
}

// ce container contient tout sauf l'image
// la marge haute laisse apparaitre l'image
// animation possible en faisant varier celle-ci
.container-principal{
    // 30px de moins que le container image
    margin-top:200px;
    width: 100%;
}

// mise en forme du titre principal
.restaurant-titre {
    width: 100%;
    height: 85px;
    background-color: $fond-gris-clair;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    // container titre et j'aime
    .container-titre {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // j'aime
        & .container-coeur {
            // voir les details en mixins
            @include coeur(30px);
        }
    }
    // nom du restaurant
    h1 {
        margin: 0;
        font-family: #{$police-titre};
        font-size: 24px;
    }
}

// grande zone contenant titre et menu
.menu {
    width: 100%;
    background-color: $fond-gris-clair;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// zone contenant une partie d'un menu
// mise en forme identique pour entrees plats desserts
.container-emplacement {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &_titre {
        width: 100%;
        display: flex;
        flex-direction: column;
        &_texte {
            font-size: 18px;
            padding: 2px 0;
        }
        &_soulignement {
            width: 40px;
            height: 3px;
            border-top: 3px solid $couleur-tertiaire;
            padding-bottom: 10px;
        }
    }
    // container des plats de soit: entréees ou plats ou desserts
    &_plats {
        width: 100%;
        display: flex;
        flex-direction: column;
        // le premier plat. c'est aussi le dernier a apparaitre dans l'animation
        .menu1 {
            // voir mixins pour les details
            @include transformation-menu;
            animation-delay: 750ms;
        }
        .menu2 {
            @include transformation-menu;
            animation-delay: 500ms;
        }
        .menu3 {
            @include transformation-menu;
            animation-delay: 250ms;
        }
        // le dermier plat. c'est aussi le premier a apparaitre dans l'animation
        .menu4 {
            @include transformation-menu;
            animation-delay: 0s;
        }
        &_plat {
            width: 100%;
            max-width: 600px;
            background-color: white;
            border-radius: 10px;
            margin: 5px 0;
            // masque le container de selection
            overflow: hidden;
            position: relative;
            // reaction d'un plat au survol
            &:hover {
                // reduction du container texte
                .container-elastique {
                    width: 80%;
                }
                // apparition du container setection du plat
                .selecteur {
                    right: 0;
                }
                // rotation de l'icone
                .selecteur i {
                    transform: rotate(360deg);
                }
            }
            .container-elastique {
                width: 100%; //80%
                height: 70px;
                padding-bottom: 12px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                // temps de reduction du container
                transition: width 300ms;
            }
            &_texte {
                display: flex;
                flex-direction: column;
                padding-left: 10px;
                font-weight: 500;
                // masque le recouvrement par le prix
                overflow: hidden;
                h2 {
                    margin: 0;
                    font-size: 18px;
                    // interdit le retour a la ligne
                    white-space: nowrap;
                    // masque le recouvrement
                    overflow: hidden;
                    // fait apparaite les points de suspension
                    text-overflow: ellipsis;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    padding-top: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &_prix {
                font-size: 16px;
                font-weight: 500;
                margin-right: 15px;
                margin-left: 5px;
            }
            .selecteur {
                width: 70px;
                height: 70px;
                background-color: $couleur-tertiaire;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                // colle juste a droite du container plat
                right: -70px;
                top: 0;
                // temps de translation droite vers gauche
                // legerement plus long que la reduction du container texte
                transition: right 350ms;
                // cta main sur le survol
                &:hover {
                    cursor: pointer;
                }
                i {
                    font-size: 30px;
                    color: $couleur-tertiaire;
                    background-color: white;
                    border-radius: 15px;
                    // temps de rotation de l'icone
                    // identique a latranslation de son container
                    transition: transform 350ms;
                }
            }
        }
    }
}

// affichage pour les tablettes et les desktop
@media screen and (min-width: 768px) {
    // modification de l'affichage de l'image
    .container-image-titre {
        display: flex;
        justify-content: center;
        height: 560px;
    }
    // la marge de ce container peut varier de 0 à 530px
    // pour masquer l'image le temps de l'animation des menus
    .container-principal{
        margin-top: 0px;
        animation-name: devoiler-image;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    .restaurant-titre .container-titre {
        width: 40%;
    }
    // affichage sur le cote de: entrees plats desserts
    .container-emplacement {
        width: 95%;
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        // repartition des zones titre et plats
        &_titre {
            width: 10%;
            &_texte {
                font-size: 16px;
            }
        }
        &_plats {
            // affichage horizontal des plats
            flex-direction: row;
            // passage a la ligne auto
            flex-wrap: wrap;
            width: 90%;
            &_plat {
                // largeur 1/2 pour 2 plats sur la largeur
                width: 49%;
                // limite de largeur pour passage auto a 3 plats sur la largeur
                max-width: 310px;
                margin: 5px 5px;
                // Mise en forme de la zone de texte des plats
                &_texte {
                    // le plats
                    h2 {
                        font-size: 16px;
                    }
                    // et la suite
                    p {
                        font-size: 12px;
                    }
                }
                &_prix {
                    font-size: 14px;
                }
            }
        }
    }
}

// affichage pour les desktop
@media screen and (min-width: 992px) {
    // pas plus large, c'est moche
    .container-emplacement {
        max-width: 1200px;
    }
}

.container-commander {
    // voir les mixins pour les details
    @include container-bouton;
    &_bouton {
        @include bouton-principal;
    }
}
